.productUpdate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 850px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    border-radius: 20px;
}

.productUpdateTitle {
    font-size: 25px;
    font-weight: 600;
    margin-left: 10px;
}

.productUpdateForm {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.productUpdateItem {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.productUpdateItem > label {
    margin-bottom: 5px;
    font-weight: 500;
}

.productUpdateInput {
    border: none;
    width: 250px;
    height: 20px;
    border-bottom: 1px solid grey;
}

.productUpdateInputRadio {
    margin: 5px 5px;
}

.productUpdateUpload {
    display: flex;
    align-items: center;
}

.productUpdateImg {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 20px;
}

/* .productUpdateIcon{
    cursor: pointer;
    font-size: 35px !important;
} */

.productUpdateBotton {
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(250, 115, 61);
    color: white;
    font-weight: 600;
}
