


@media (max-width: 1023px ) {
    #fullWidNavbar {
        display: none;
    }
    #responsiveNavButton {
        display: block;
    }
    
}

@media (min-width: 1204px) {
    #fullWidNavbar {
        display: block;
    }
    #responsiveNavButton {
        display: none;
    }
}