.topbar{
    width: 100%;
    height: 83px;
    position: sticky;
    background: rgb(235,40,10);
    background: linear-gradient(90deg, rgba(235,40,10,1) 0%, rgba(252,122,62,1) 50%, rgba(255,242,88,1) 100%);
    top: 0;
    z-index: 1000;
}

.topbarWrapper{
    width: auto;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.logo{
    cursor: pointer;
    width: 7rem;
    /* height: 4rem; */
    margin-left: 1rem;
}

.topRight{
    display: flex;
    align-items: center;
}

.topbarIconsContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.topAvatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px black;
    cursor: pointer;
}